Repository Fluff4life/SparkV: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext js, prettier --write

⚙ | Removed Discord.js Only Feature
  bot/bot.js
Due: eslint --fix --ext js

⚙ | Removed Unneeded Packages
  package.json
Due: prettier --write

✅ | Updated Packages
  package-lock.json
Due: prettier --write

⚙ | Fixed Engines
  package.json
Due: prettier --write

⚡ | Updated Read Me
  README.md
Due: none

✅ | V13!
  bot/commands/👑owner👑/setch1llbucks.js
  bot/commands/👑owner👑/setxp.js
  bot/commands/💰currency💰/pay.js
  bot/commands/💰currency💰/rob.js
  bot/commands/📷images📷/affect.js
  bot/commands/📷images📷/bed.js
  bot/commands/📷images📷/facepalm.js
  bot/commands/📷images📷/invert.js
  bot/commands/📷images📷/jail.js
  bot/commands/📷images📷/opinion.js
  bot/commands/📷images📷/rainbow.js
  bot/commands/📷images📷/rip.js
  bot/commands/📷images📷/shit.js
  bot/commands/📷images📷/slap.js
  bot/commands/📷images📷/trash.js
  bot/commands/📷images📷/trigger.js
  bot/commands/📷images📷/wanted.js
  bot/commands/📷images📷/wasted.js
  bot/commands/📷images📷/youtube.js
  bot/commands/😃fun😃/rank.js
  bot/commands/🧰utility🧰/stats.js
  bot/events/messageCreate.js
  index.js
  modules/functions.js
  package-lock.json
  package.json
  website/assets/css/theme.css
  website/assets/css/theme.min.css
  website/views/components/head.ejs
  website/website.js
Due: eslint --fix --ext js, prettier --write

✅ | Fixed Engines
  package.json
Due: prettier --write

✅ | Fixed Node Engine Version
  package.json
Due: prettier --write

Fixed engine?
  package.json
Due: prettier --write

[CodeFactor] Apply fixes
  assets/css/sb-admin.css
Due: none

✅ | Removed Unneeded Stylesheet
  assets/css/sb-admin.css
  assets/css/sb-admin.min.css
Due: none

Update release_notes.yml
  .github/workflows/release_notes.yml
Due: prettier --write

Rename release_drafter.yml to release-drafter.yml
  .github/release-drafter.yml
Due: prettier --write

⚡ | Removed Error
  .tern-project
  package-lock.json
  package.json
  website/website.js
Due: eslint --fix --ext js, prettier --write

🔨 | Minor Fixes
  package.json
  website/website.js
Due: eslint --fix --ext js, prettier --write

⚡ | Better
  .github/ISSUE_TEMPLATE/bug_report.md
  index.js
  website/website.js
Due: eslint --fix --ext js

✅ | Added Better Loader
  package-lock.json
  package.json
Due: prettier --write

⚡ | Fixed Cache
  package-lock.json
Due: prettier --write

⚡ | Fixed Packaging Errors
  package-lock.json
  package.json
Due: prettier --write

⚡ | Fixed More Packaging Errors
  package.json
  website/website.js
Due: eslint --fix --ext js, prettier --write

⚡ | Fixed MongoStore
  website/website.js
Due: eslint --fix --ext js

✅ | Capilized All Enviermental Varibles
  bot/bot.js
  bot/commands/👑owner👑/eval.js
  bot/commands/👑owner👑/restart.js
  bot/commands/👑owner👑/setch1llbucks.js
  bot/commands/👑owner👑/setxp.js
  bot/commands/💰currency💰/rob.js
  bot/commands/🧰utility🧰/donate.js
  bot/commands/🧰utility🧰/help.js
  bot/commands/🧰utility🧰/website.js
  bot/events/interactionCreate.js
  bot/events/messageCreate.js
  bot/events/ready.js
  bot/shardManager.js
  bot/structures/client.js
  index.js
  modules/dependencies/botlists.js
  modules/dependencies/distubehandler.js
  modules/dependencies/giveawayshandler.js
  modules/dependencies/noblox.js
  modules/functions.js
  website/utils/passport.js
  website/website.js
Due: eslint --fix --ext js

⚡ | Removed HOST Varible For Server
  website/utils/passport.js
  website/website.js
Due: eslint --fix --ext js

🚧 | Fixed Back-end
  package-lock.json
  package.json
  website/website.js
Due: eslint --fix --ext js, prettier --write

⚡ | Website v6 Part 1/3
  website/routes/index.js
  website/routes/user.js
  website/routes/users.js
  website/views/404.ejs
  website/views/bot.ejs
  website/views/company.ejs
Due: eslint --fix --ext js

🚧 | Ch1ll Site v6 Part 2/3
  assets/css/style.css
  assets/css/style.css.map
  assets/css/theme.css
  assets/css/theme.min.css
  assets/images/dev.svg
  assets/js/handle.js
  assets/scss/_config.scss
  assets/scss/_reset.scss
  assets/scss/components/_buttons.scss
  assets/scss/components/_mixins.scss
  assets/scss/components/_typography.scss
  assets/scss/sections/_campanies.scss
  assets/scss/sections/_footer.scss
  assets/scss/sections/_hero.scss
  assets/scss/sections/_navbar.scss
  assets/scss/sections/_portfolio.scss
  assets/scss/sections/_reviews.scss
  assets/scss/sections/_services.scss
  assets/scss/style.scss
  changelog.md
  globalconfig.json
  package.json
  scss/sections/_footer.scss
  scss/sections/_services.scss
  website/routes/index.js
  website/views/500.ejs
  website/views/components/head.ejs
  website/views/components/scripts.ejs
  website/views/profolio.ejs
  website/views/profolio_king.ejs
Due: eslint --fix --ext js, prettier --write

🚧 | Ch1ll Site v6 Part 3/3
  globalconfig.json
Due: prettier --write

🚀 | GitHub Action Updates
  .github/workflows/release.yml
  package.json
Due: prettier --write

🚀 | Minor Updates
  .github/workflows/release.yml
  bot/structures/client.js
Due: eslint --fix --ext js, prettier --write

🚀 | GitHub Actions Fix
  .github/workflows/release.yml
Due: prettier --write

🚀 | GitHub Actions Fix (2)
  .github/workflows/release.yml
Due: prettier --write

[CodeFactor] Apply fixes
  assets/css/style.css
Due: none

Update label_comment_config.yml
  .github/label_comment_config.yml
Due: prettier --write

Update release.yml
  .github/workflows/release.yml
Due: prettier --write

Path conditions:
  eslint --fix --ext js: any of: *.{mjs,js}
  prettier --write: any of: *.{json,yml,yaml}
