Repository Fluff4life/SparkV: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext js, prettier --write

Update release.yml
  .github/workflows/release.yml
Due: prettier --write

🚀 | Final Merge Fixes
  .prettierrc.json
  bot/commands/Moderation/unmute.js
  bot/commands/Music/lyrics.js
  bot/commands/Music/pause.js
  bot/commands/Music/play.js
  bot/commands/Music/resume.js
  bot/events/messageCreate.js
Due: eslint --fix --ext js, prettier --write

🚧 | Fixed Errors
  bot/commands/Music/lyrics.js
  bot/events/messageCreate.js
  index.js
  website/website.js
Due: eslint --fix --ext js

🚀 | Updated Nodejs
  package.json
Due: prettier --write

🎨 | Cleaned Up Code
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🎨 | Cleaned Up Code
  bot/commands/👑owner👑/eval.js
  bot/commands/💰currency💰/balance.js
  bot/commands/📷images📷/affect.js
  bot/commands/😃fun😃/8ball.js
  bot/commands/😃fun😃/levelleaderboard.js
  bot/commands/😃fun😃/weather.js
  bot/commands/🧰utility🧰/dashboard.js
Due: eslint --fix --ext js

🚀 | Fixed Animal Commands
  bot/commands/🐶animals🐶/animal.js
  bot/commands/🐶animals🐶/cat.js
  bot/commands/🐶animals🐶/dog.js
  bot/commands/🐶animals🐶/duck.js
  bot/commands/🐶animals🐶/fox.js
  bot/templates/animalCommand.js
  bot/templates/redditCommand.js
Due: eslint --fix --ext js

🎨 | Cleaned Up Code
  bot/commands/🐶animals🐶/cat.js
  bot/commands/🐶animals🐶/dog.js
  bot/commands/🐶animals🐶/duck.js
  bot/commands/🐶animals🐶/fox.js
  bot/templates/animalCommand.js
Due: eslint --fix --ext js

[CodeFactor] Apply fixes
  assets/css/style.css
Due: none

[CodeFactor] Apply fixes
  assets/scss/components/_buttons.scss
  assets/scss/sections/_campanies.scss
  assets/scss/sections/_footer.scss
  assets/scss/sections/_hero.scss
  assets/scss/sections/_navbar.scss
Due: none

🚀 | 1 New Command (Bunny) and Code Updates
  assets/scss/sections/_footer.scss
  bot/commands/🐶animals🐶/bunny.js
  package-lock.json
  package.json
Due: eslint --fix --ext js, prettier --write

🚀 | Minor Updates for v6
  bot/commands/👑owner👑/restart.js
  modules/dependencies/giveawayshandler.js
Due: eslint --fix --ext js

🎨 | Cleaned Up Code
  modules/dependencies/giveawayshandler.js
Due: eslint --fix --ext js

🚀 | Downgraded Node-fetch Due To Errors.
  package-lock.json
  package.json
Due: prettier --write

🚀 | Updated Node-Fetch
  package-lock.json
  package.json
Due: prettier --write

🚀 | VS Code Extention Recommendations
  .vscode/extensions.json
Due: prettier --write

🎨 | Cleaned Up Code
  .vscode/extensions.json
Due: prettier --write

🚀 | Reverted Accident
  modules/dependencies/giveawayshandler.js
Due: eslint --fix --ext js

Create .gitbook.yml
  .gitbook.yml
Due: prettier --write

🚀 | Added MongoDB
  package-lock.json
  package.json
Due: prettier --write

Update and rename release.yml to clean.yml
  .github/workflows/clean.yml
Due: prettier --write

Create runner.yml
  .github/workflows/runner.yml
Due: prettier --write

🚀 | Improvements
  .github/workflows/runner.yml
  bot/structures/client.js
  globalconfig.json
  modules/updateDocs.js
  package-lock.json
  package.json
  removeUnusedDeps.sh
Due: eslint --fix --ext js, prettier --write

🎨 | Cleaned Up Code
  modules/updateDocs.js
Due: eslint --fix --ext js

🚀 | Fixed Actions
  .github/workflows/clean.yml
  .github/workflows/runner.yml
Due: prettier --write

🚀 | Better
  .github/workflows/release_notes.yml
  .github/workflows/runner.yml
Due: prettier --write

🚀 | Renamed Mark Stale
  .github/workflows/stale.yml
Due: prettier --write

🚀 | Added Npm Installer
  .github/workflows/runner.yml
Due: prettier --write

🚀 | Removed Error
  .github/workflows/runner.yml
Due: prettier --write

🚀 | Fixed Runner
  .github/workflows/clean.yml
  .github/workflows/runner.yml
  package-lock.json
  package.json
Due: prettier --write

🚀 | Updated GitHub Action Tokens
  .github/workflows/clean.yml
  .github/workflows/release_notes.yml
  .github/workflows/runner.yml
  .github/workflows/stale.yml
Due: prettier --write

Path conditions:
  eslint --fix --ext js: any of: *.{mjs,js}
  prettier --write: any of: *.{json,yml,yaml}
