Repository Fluff4life/SparkV: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext js, prettier --write

🚀 | Slash Commands Handler!
  bot/bot.js
  bot/events/guildCreate.js
  bot/events/interactionCreate.js
  bot/structures/client.js
  bot/templates/animalCommand.js
  bot/templates/modCommand.js
  bot/templates/redditCommand.js
  docs/commands.md
  globalconfig.json
Due: eslint --fix --ext js, prettier --write

🚀 | Minor Improvement to StartGiveaway Command
  bot/commands/Administration/startgiveaway.js
Due: eslint --fix --ext js

💰 | Better Currency Commands
  bot/commands/Economy/balance.js
  bot/commands/Economy/beg.js
  bot/commands/Economy/buy.js
  bot/commands/Economy/daily.js
  bot/commands/Economy/deposit.js
  bot/commands/Economy/inventory.js
  bot/commands/Economy/pay.js
  bot/commands/Economy/rob.js
  bot/commands/Economy/slots.js
  bot/commands/Economy/use.js
  bot/commands/Economy/withdraw.js
  bot/commands/Economy/work.js
  bot/commands/Owner/restart.js
  bot/commands/Owner/setcoins.js
  bot/shopdata.json
  bot/structures/extenders.js
  docs/commands.md
Due: eslint --fix --ext js, prettier --write

🚀 | 5 NEW Utility Comands + Aliases Duplicate Fix
  bot/commands/Animals/bunny.js
  bot/commands/Economy/shop.js
  bot/commands/Economy/use.js
  bot/commands/Fun/advice.js
  bot/commands/Fun/rank.js
  bot/commands/Images/wanted.js
  bot/commands/Images/youtubecomment.js
  bot/commands/Information/calculator.js
  bot/commands/Information/credits.js
  bot/commands/Information/stats.js
  bot/commands/Memes/comedy.js
  bot/commands/Memes/dankmeme.js
  bot/commands/Moderation/unlock.js
  bot/commands/Music/play.js
  bot/commands/Music/seek.js
  bot/commands/Music/shuffle.js
  bot/commands/Music/skip.js
  bot/commands/Utility/avatar.js
  bot/commands/Utility/date.js
  bot/commands/Utility/roleid.js
  bot/commands/Utility/servericon.js
  bot/commands/Utility/userid.js
  bot/structures/client.js
  bot/templates/modCommand.js
  docs/commands.md
Due: eslint --fix --ext js

🚀 | Removed Console Debug for `RoleID` Command
  bot/commands/Utility/roleid.js
Due: eslint --fix --ext js

🚀 | Start Giveaway Now Prevents >256 Length Giveaways
  bot/commands/Administration/startgiveaway.js
Due: eslint --fix --ext js

🎨 | Added Space
  bot/commands/Administration/startgiveaway.js
Due: eslint --fix --ext js

🚀 | Fixed Broken Slap Command
  bot/commands/Images/slap.js
Due: eslint --fix --ext js

🚀 | Fixed Say Command Volterability
  bot/commands/Fun/say.js
Due: eslint --fix --ext js

🚀 | Added Say Command Cooldown
  bot/commands/Fun/say.js
Due: eslint --fix --ext js

🚀 | Just return instead. We're under attack!
  bot/commands/Fun/say.js
Due: eslint --fix --ext js

🚀 | Fixed Blacklist?
  bot/events/ready.js
Due: eslint --fix --ext js

🚀 | Version `1.1`! Blacklist - Say Command Fixed and more!
  bot/commands/Fun/say.js
  bot/events/error.js
  bot/events/messageCreate.js
  bot/events/ready.js
  docs/commands.md
  events/unhandledRejection.js
  globalconfig.json
  index.js
  modules/logger.js
  package-lock.json
  package.json
Due: eslint --fix --ext js, prettier --write

🚀 | Removed IBL
  bot/events/ready.js
Due: eslint --fix --ext js

🚀 | Warning About Slash Command Support
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🚀 | Better Wording.
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🚀 | Added Space To Credits Command
  bot/commands/Information/credits.js
Due: eslint --fix --ext js

🚀 | If Bot CNNOT Send Messages - Return
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🚀 | Fixed Permission Error
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🚀 | Fixed Permissions
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🚀 | Updated Guild Ban SCE1024
  globalconfig.json
Due: prettier --write

🚀 | Added `schema_version` - Solves Outdated Schema Problems!
  database/schemas/guild.js
  database/schemas/member.js
  database/schemas/user.js
Due: eslint --fix --ext js

🚀 | Fixed Schema Version
  database/schemas/guild.js
  database/schemas/member.js
  database/schemas/user.js
Due: eslint --fix --ext js

🚀 | Schema Versioning FINNALY Fixed
  database/handler.js
  database/schemas/guild.js
  database/schemas/member.js
  database/schemas/user.js
Due: eslint --fix --ext js

🚀 | More Help Aliases Added
  bot/commands/Information/help.js
Due: eslint --fix --ext js

🚀 | Removed Some of the Help Cmd Aliases
  bot/commands/Information/help.js
Due: eslint --fix --ext js

🚀 | Updated Help - Fixed Incorrect Translation Reply for Embed
  bot/commands/Information/help.js
Due: eslint --fix --ext js

🚀 | Added Colors! - Grey no more!
  assets/css/style.css
  assets/css/style.css.map
  assets/images/gaming.svg
  assets/scss/_config.scss
  assets/scss/sections/_hero.scss
  assets/scss/sections/_reviews.scss
  index.html
Due: none

🚀 | Fixed Blacklist
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🚀 | Fixed DisTube Error Handler
  modules/dependencies/distubehandler.js
Due: eslint --fix --ext js

🚀 | Changed Redis Info => URL
  bot/structures/client.js
Due: eslint --fix --ext js

🚀 | Updated Packages
  package-lock.json
  package.json
Due: prettier --write

🔨 | Fixed Pay Command String
  bot/commands/Economy/pay.js
Due: eslint --fix --ext js

🚀 | Updated Database
  database/handler.js
  database/schemas/user.js
Due: eslint --fix --ext js

🚀 | Removed Unneeded Package
  package-lock.json
  package.json
Due: prettier --write

🚀 | Added A NEW Reddit Command - GoCommitDie!
  bot/commands/Memes/gocommitdie.js
Due: eslint --fix --ext js

🚀 | Fixed Daily - Added 1 Day Cooldown!
  bot/commands/Economy/daily.js
Due: eslint --fix --ext js

🚀 | Updated Commands
  docs/commands.md
Due: none

🚀 | DisTube v3
  bot/commands/Music/filter.js
  bot/commands/Music/jump.js
  bot/commands/Music/repeat.js
  bot/commands/Music/seek.js
  bot/commands/Music/shuffle.js
  bot/commands/Music/stop.js
  bot/commands/Music/volume.js
Due: eslint --fix --ext js

Path conditions:
  eslint --fix --ext js: any of: *.{mjs,js}
  prettier --write: any of: *.{json,yml,yaml}
