Repository Fluff4life/SparkV: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext js, prettier --write

.lintstagedrc.json:

{
    "*.{mjs,js}": "eslint --fix --ext js",
    "*.{json,yml,yaml}": "prettier --write"
  }

🚀 | DisTube v3
  bot/commands/Information/help.js
  bot/commands/Music/filter.js
  bot/commands/Music/join.js
  bot/commands/Music/jump.js
  bot/commands/Music/leave.js
  bot/commands/Music/repeat.js
  bot/commands/Music/seek.js
  bot/commands/Music/shuffle.js
  bot/commands/Music/stop.js
  bot/commands/Music/volume.js
Due: eslint --fix --ext js

🚀 | Updated Commands
  docs/commands.md
Due: none

🚀 | `\n` Removed in commands
  modules/updateDocs.js
Due: eslint --fix --ext js

🚀 | Akinator - Now more user friendly!
  bot/commands/Games/akinator.js
  bot/structures/client.js
  bot/templates/gameCommand.js
  docs/commands.md
  globalconfig.json
Due: eslint --fix --ext js, prettier --write

🚀 | Debug Off
  globalconfig.json
Due: prettier --write

🚀 | Fixed Slot Cmd
  bot/commands/Economy/slots.js
Due: eslint --fix --ext js

🚀 | Added Sentry Tracing
  index.js
Due: eslint --fix --ext js

🚀 | Sentry Tracing Package
  package-lock.json
  package.json
Due: prettier --write

🚀 | Guild Avalibility Check
  bot/events/guildCreate.js
  bot/events/guildDelete.js
Due: eslint --fix --ext js

🚀 | Help Command - Now Slash Enabled + Translates
  bot/commands/Economy/balance.js
  bot/commands/Economy/slots.js
  bot/commands/Information/help.js
  bot/events/messageReactionAdd.js
  database/schemas/user.js
  docs/commands.md
  globalconfig.json
  package.json
Due: eslint --fix --ext js, prettier --write

🚀 | Fixed Daily
  bot/commands/Economy/daily.js
Due: eslint --fix --ext js

🚀 | 3 More Slash Commands!
  bot/commands/Information/credits.js
  bot/commands/Information/dashboard.js
  bot/commands/Information/help.js
  bot/commands/Utility/date.js
  bot/events/interactionCreate.js
  bot/structures/client.js
  bot/structures/extenders.js
  docs/commands.md
Due: eslint --fix --ext js

🚀 | Improved SparkV's Speed A Little Bit
  package-lock.json
  package.json
Due: prettier --write

⚡ | Sharding Update (Part 1)
  bot/commands/Fun/urban.js
  bot/events/interactionCreate.js
  bot/structures/extenders.js
  globalconfig.json
  index.js
  modules/dependencies/distubehandler.js
Due: eslint --fix --ext js, prettier --write

🚀 | Shard Event Fixes
  index.js
Due: eslint --fix --ext js

🚀 | Fixed Sharding Error Logging
  index.js
Due: eslint --fix --ext js

🚀 | Fixed Shard Manager
  bot/structures/extenders.js
  index.js
Due: eslint --fix --ext js

🚀 | Fixed Mistake
  index.js
Due: eslint --fix --ext js

🚀 | Statcord - Sharding Rewrite
  bot/commands/Economy/daily.js
  bot/events/messageCreate.js
  bot/events/ready.js
  bot/structures/client.js
  docs/commands.md
  globalconfig.json
  index.js
Due: eslint --fix --ext js, prettier --write

🚀 | Sharding Improvements
  bot/structures/client.js
  index.js
  modules/dependencies/giveawayshandler.js
Due: eslint --fix --ext js

🚀 | No More Debug! Now MUST use DEV Cmd
  bot/events/ready.js
  bot/structures/client.js
  docs/commands.md
  globalconfig.json
  index.js
  modules/functions.js
  modules/logger.js
  package.json
Due: eslint --fix --ext js, prettier --write

🚀 | Help Cmd Fix
  bot/commands/Information/help.js
Due: eslint --fix --ext js

🚀 | Bug Fixes
  bot/commands/Information/help.js
  bot/templates/musicCommand.js
Due: eslint --fix --ext js

🚀 | Fixed No Options Error
  bot/events/interactionCreate.js
Due: eslint --fix --ext js

🚀 | Better Repeat Command
  bot/commands/Music/repeat.js
Due: eslint --fix --ext js

🚀 | SetRepeatMode
  bot/commands/Music/repeat.js
Due: eslint --fix --ext js

🚀 | Server Counter - Sharding Rewrite
  modules/functions.js
Due: eslint --fix --ext js

🚀 | Replaced Debug with --dev
  bot/events/ready.js
  bot/structures/client.js
  globalconfig.json
  index.js
  modules/functions.js
  modules/logger.js
  package.json
Due: eslint --fix --ext js, prettier --write

🚀 | Fixed Translation Replies for Slash Commands
  bot/commands/Utility/date.js
  bot/structures/extenders.js
Due: eslint --fix --ext js

🚀 | Statcord Now Records Slash Commands Too
  bot/events/interactionCreate.js
Due: eslint --fix --ext js

🔨 | Fixed Stat Client - Interaction Handler
  bot/events/interactionCreate.js
Due: eslint --fix --ext js

🐛 | Minor Bug Fixes
  bot/events/guildMemberAdd.js
  bot/events/guildMemberRemove.js
  modules/dependencies/distubehandler.js
Due: eslint --fix --ext js

🐛 | Music Reply Error Fixed
  modules/dependencies/distubehandler.js
Due: eslint --fix --ext js

⚡ | Updated Queue to Dv13
  bot/commands/Music/queue.js
Due: eslint --fix --ext js

⚡ | Music UI Updates
  bot/commands/Music/queue.js
  modules/dependencies/distubehandler.js
Due: eslint --fix --ext js

⚡ | Added to Queue UI Update
  modules/dependencies/distubehandler.js
Due: eslint --fix --ext js

⚡ | Changed Add Song Thumbnail to Image
  modules/dependencies/distubehandler.js
Due: eslint --fix --ext js

⚡ | Minor Updates
  bot/structures/extenders.js
  docs/commands.md
Due: eslint --fix --ext js
