Repository Fluff4life/SparkV: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext js, prettier --write

⚡ | New Bot Avatar!
  .gitignore
  assets/images/OldSparkV.png
  assets/images/SparkV.png
Due: none

🔉 | Volume Command Fixed
  bot/commands/Music/volume.js
Due: eslint --fix --ext js

🎵 | Now Uses YouTubeDL & Auto Updates
  modules/dependencies/distubehandler.js
Due: eslint --fix --ext js

⬆️ | Updated Packages
  package-lock.json
  package.json
Due: prettier --write

🎵 | Fixed Song Added To Queue Thumbnail
  modules/dependencies/distubehandler.js
Due: eslint --fix --ext js

👌 | Slash Commands - Now Updates when the GuildAdded
  bot/events/guildCreate.js
Due: eslint --fix --ext js

Path conditions:
  eslint --fix --ext js: any of: *.{mjs,js}
  prettier --write: any of: *.{json,yml,yaml}
