Repository Fluff4life/SparkV: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext js, prettier --write

.lintstagedrc.json:

{
    "*.{mjs,js}": "eslint --fix --ext js",
    "*.{json,yml,yaml}": "prettier --write"
  }

🚀 | Fixed GitHub Action
  .github/workflows/runner.yml
Due: prettier --write

👌 | Better
  .github/workflows/runner.yml
  bot/events/interactionCreate.js
  bot/structures/client.js
  docs/docs.json
  modules/updateDocs.js
Due: eslint --fix --ext js, prettier --write

GitBook: [master] 13 pages and 2 assets modified
  .gitbook/assets/Ch1llBlox.png
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  changelog.md
  commands.md
  docs/README.md
  docs/SUMMERY.md
  docs/commands.md
  docs/faq.md
  docs/summary.md
Due: none

Create CODE_OF_CONDUCT
  .github/CODE_OF_CONDUCT
Due: none

Rename CODE_OF_CONDUCT to CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: none

Create CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: none

Create bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Delete commands.md
  commands.md
Due: none

🎨 | Cleaned Up Code
  modules/updateDocs.js
Due: eslint --fix --ext js

🚀 | Removed Minified Slots Command??
  bot/commands/Currency/slots.min.js
Due: eslint --fix --ext js

🎨 | Cleaned Up Code
  bot/bot.js
  bot/commands/Currency/beg.js
  bot/commands/Currency/daily.js
  bot/commands/Currency/deposit.js
  bot/commands/Currency/pay.js
  bot/commands/Currency/slots.js
  bot/commands/Utility/credits.js
  bot/commands/Utility/donate.js
  bot/commands/Utility/invite.js
  bot/commands/Utility/rules.js
  bot/commands/Utility/stats.js
  bot/commands/Utility/website.js
  bot/events/messageCreate.js
  modules/updateDocs.js
Due: eslint --fix --ext js

Delete jsdoc.json
  jsdoc.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

Update FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

🐛 | Debug Off
  globalconfig.json
Due: prettier --write

Update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

🎨 | Cleaned Up Code
  bot/commands/Currency/balance.js
  bot/commands/Currency/beg.js
  bot/commands/Currency/deposit.js
  bot/commands/Currency/pay.js
  bot/commands/Currency/slots.js
  bot/commands/Currency/withdraw.js
  bot/commands/Currency/work.js
  bot/commands/Utility/credits.js
  bot/commands/Utility/donate.js
  bot/commands/Utility/help.js
  bot/commands/Utility/invite.js
  bot/commands/Utility/rules.js
  bot/commands/Utility/stats.js
  bot/commands/Utility/website.js
  bot/events/error.js
  bot/events/guildCreate.js
  bot/events/guildDelete.js
  bot/events/interactionCreate.js
  bot/events/messageCreate.js
  bot/events/messageUpdate.js
  bot/events/ready.js
  bot/events/warn.js
  bot/modules/topStats.js
  database/schemas/guild.js
  database/schemas/log.js
  database/schemas/member.js
  modules/dependencies/distubehandler.js
  modules/functions.js
  modules/updateDocs.js
Due: eslint --fix --ext js

Delete runner.yml
  .github/workflows/runner.yml
Due: prettier --write

🚀 | Bot Improvements - New Help Command!
  bot/commands/Utility/help.js
  bot/commands/Utility/invite.js
  bot/events/interactionCreate.js
  bot/events/ready.js
  bot/events/warn.js
  bot/modules/topStats.js
  bot/structures/client.js
  docs/commands.md
  globalconfig.json
  modules/dependencies/botlists.js
  package-lock.json
  package.json
Due: eslint --fix --ext js, prettier --write

🚀 | Fixes & ReadMe Update!
  README.md
  bot/events/ready.js
  bot/events/warn.js
  events/warning.js
Due: eslint --fix --ext js

🚀 | Updated GetPrefix Function
  modules/functions.js
Due: eslint --fix --ext js

🚀 | Better
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🎨 | Cleaned Up Code
  bot/commands/Owner/restart.js
  bot/commands/Utility/help.js
  bot/events/interactionCreate.js
  bot/events/messageCreate.js
  bot/events/ready.js
Due: eslint --fix --ext js

🚀 | Fixed Database Error
  database/schemas/guild.js
  database/schemas/member.js
  database/schemas/user.js
Due: eslint --fix --ext js

🚀 | Bug Fixes & Comment Edits
  assets/offline.html
  bot/events/guildCreate.js
  bot/events/guildDelete.js
  bot/events/interactionCreate.js
Due: eslint --fix --ext js

🚀 | Web Updates
  assets/css/style.css
  assets/css/style.css.map
  website/views/components/scripts.ejs
Due: none

🚀 | Removed Unneeded Script
  website/views/components/scripts.ejs
Due: none

🚀 | Changed "var" to "let" - Var is bad pratice!
  assets/js/handle.js
  bot/commands/Currency/balance.js
  bot/commands/Currency/beg.js
  bot/commands/Currency/daily.js
  bot/commands/Currency/deposit.js
  bot/commands/Currency/pay.js
  bot/commands/Currency/rob.js
  bot/commands/Currency/slots.js
  bot/commands/Currency/withdraw.js
  bot/commands/Games/connectfour.js
  bot/commands/Moderation/mute.js
  bot/commands/Moderation/unmute.js
  bot/commands/Moderation/warnings.js
  bot/commands/Music/lyrics.js
  bot/commands/Music/repeat.js
  bot/commands/Owner/restart.js
  bot/commands/Utility/rules.js
  bot/commands/Utility/stats.js
  bot/events/messageCreate.js
  bot/templates/animalCommand.js
  modules/dependencies/distubehandler.js
  modules/dependencies/giveawayshandler.js
  modules/functions.js
Due: eslint --fix --ext js

🚀 | The start of something new!
  bot/commands/Information/calculator.js
  bot/commands/Information/credits.js
  bot/commands/Information/dashboard.js
  bot/commands/Information/donate.js
  bot/commands/Information/help.js
  bot/commands/Information/index.js
  bot/commands/Information/invite.js
  bot/commands/Information/rules.js
  bot/commands/Information/stats.js
  bot/commands/Information/website.js
  database/schemas/guild.js
  database/schemas/member.js
  database/schemas/user.js
Due: eslint --fix --ext js

🚀 | Fixed
  bot/commands/Information/index.js
Due: eslint --fix --ext js

🚀 | Fixed DisTube
  bot/structures/client.js
  modules/dependencies/distubehandler.js
Due: eslint --fix --ext js

🚀 | Error Fixes
  modules/dependencies/distubehandler.js
Due: eslint --fix --ext js

🚀 | Removed AFK data for Member - User only!
  database/schemas/member.js
Due: eslint --fix --ext js

Tic Tac Toe Debug
  bot/commands/Games/tictactoe.js
Due: eslint --fix --ext js

🚀 | Meme Cache & (WIP) Config Commands
  bot/commands/Config/index.js
  bot/commands/Config/prefix.js
  bot/commands/Moderation/warn.js
  bot/events/messageCreate.js
  bot/events/ready.js
  bot/structures/client.js
  bot/templates/configCommand.js
  bot/templates/redditCommand.js
  database/handler.js
  database/schemas/guild.js
  database/schemas/prefixes.js
  docs/commands.md
  package-lock.json
  package.json
Due: eslint --fix --ext js, prettier --write
