Repository Fluff4life/SparkV: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext js, prettier --write

🚀 | Other Updates
  bot/events/interactionCreate.js
  package-lock.json
  package.json
Due: eslint --fix --ext js, prettier --write

🚀 | Fixed AFK Mention System
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🚀 | Minor AFK Error - Now Fixed
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🚀 | Minor Fixes with Afk Command (Now 100% Working)
  bot/events/messageCreate.js
  globalconfig.json
Due: eslint --fix --ext js, prettier --write

🚀 | Added OS Package
  package-lock.json
  package.json
Due: prettier --write

🚀 | Fixed Rank Command
  bot/commands/Fun/rank.js
Due: eslint --fix --ext js

🚀 | Updated Donate.js
  bot/commands/Information/donate.js
Due: eslint --fix --ext js

🚀 | Commands.md Updated
  docs/commands.md
Due: none

🚀 | Fixed Prefix Mentioning ChatBot
  bot/events/messageCreate.js
  globalconfig.json
  modules/functions.js
Due: eslint --fix --ext js, prettier --write

⚙️ | Debug Off
  globalconfig.json
Due: prettier --write

🚀 | Fixed Avatar
  bot/commands/Images/avatar.js
Due: eslint --fix --ext js

📜 | Added Discord Labs Poster
  bot/events/ready.js
Due: eslint --fix --ext js

📜 Added discord.bots.gg Poster
  bot/events/ready.js
Due: eslint --fix --ext js

🚀 | Fixed Message Create
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🚀 | Added Infinity Bot List Poster
  bot/events/ready.js
Due: eslint --fix --ext js

🚧 | Fixed Spelling Error
  bot/events/ready.js
Due: eslint --fix --ext js

🚀 | Logger doesn't Log to Sentry if Debug Is Enabled
  modules/logger.js
Due: eslint --fix --ext js

🚀 | Changed Avatar Usage
  bot/commands/Images/avatar.js
Due: eslint --fix --ext js

🚀 | Fixed Hidding Owner Commands
  bot/commands/Information/help.js
  bot/events/interactionCreate.js
Due: eslint --fix --ext js

👑 | Owner Only Commands Improved
  bot/commands/Economy/rob.js
  bot/commands/Information/help.js
  bot/commands/Owner/eval.js
  bot/commands/Owner/restart.js
  bot/commands/Owner/setch1llbucks.js
  bot/commands/Owner/setxp.js
  bot/events/interactionCreate.js
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🚀 | Updated Owner ID to Srring
  globalconfig.json
Due: prettier --write

🚀 | Updated Packages
  package-lock.json
  package.json
Due: prettier --write

🚀 | Updated Docs to not show Owner Commands
  docs/commands.md
  modules/updateDocs.js
Due: eslint --fix --ext js

Delete CNAME
  CNAME
Due: none

Create CNAME
  CNAME
Due: none

🚀 | Improved Giveaway Handler
  .eslintignore
  .eslintrc.json
  bot/commands/Administration/startgiveaway.js
  database/schemas/giveaways.js
  docs/commands.md
  globalconfig.json
  modules/dependencies/giveawayshandler.js
  package-lock.json
Due: eslint --fix --ext js, prettier --write

🚀 | Disabled Debug
  globalconfig.json
Due: prettier --write

🚀 | Removed Unneeded Folder + Image
  .gitbook/assets/Ch1llBlox.png
Due: none

🚀 | Added Express
  package-lock.json
  package.json
Due: prettier --write

🚀 | Updated Commands.md
  docs/commands.md
Due: none

🚀 | Added Favicon
  package-lock.json
  package.json
Due: prettier --write

Create invite.html
  invite.html
Due: none

🚀 | Updated Bot Link Top.gg
  bot/events/guildCreate.js
Due: eslint --fix --ext js

🚀 | Leveling Commands Will Now Require Leveling to be Enabled
  bot/commands/Fun/levelleaderboard.js
  bot/commands/Fun/rank.js
Due: eslint --fix --ext js

🚀 | Fixed Kick Command Error
  bot/commands/Moderation/kick.js
Due: eslint --fix --ext js

🚀 | Updated Website Command
  bot/commands/Information/website.js
Due: eslint --fix --ext js

🚀 | NPM Updates
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --ext js: any of: *.{mjs,js}
  prettier --write: any of: *.{json,yml,yaml}
