Repository Fluff4life/SparkV: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext js, prettier --write

🚀 | Updated Commands.md
  docs/commands.md
Due: none

🚀 | Updated SparkV Website
  .vscode/settings.json
  assets/css/style.css
  assets/css/style.css.map
  assets/css/sweetalert.css
  assets/js/sweetalert.js
  assets/offline.html
  assets/scss/_config.scss
  assets/scss/components/_buttons.scss
  assets/scss/components/_mixins.scss
  assets/scss/components/_perspectives.scss
  assets/scss/components/_typography.scss
  assets/scss/sections/_hero.scss
  assets/scss/sections/_navbar.scss
  assets/scss/style.scss
  index.html
  package-lock.json
  package.json
Due: eslint --fix --ext js, prettier --write

🚀 | Updated Stylesheet
  assets/css/style.css
  assets/css/style.css.map
Due: none

🚀 | Updated Website to Fit on Mobile Devices
  assets/css/style.css
  assets/css/style.css.map
  assets/scss/sections/_hero.scss
  index.html
Due: none

🚀 | Updated Website - Now looks epic!
  assets/css/style.css
  assets/css/style.css.map
  assets/scss/_config.scss
  assets/scss/sections/_companies.scss
  assets/scss/sections/_footer.scss
  assets/scss/sections/_hero.scss
  assets/scss/style.scss
  index.html
  package-lock.json
Due: prettier --write

🚀 | Updated to Link to Dashboard
  dashboard.html
  index.html
Due: none

🚀 | Fixed Dashboard Link
  dashboard.html
Due: none

🚀 | Added 404 Screen
  404.html
Due: none

🚀 | Fixed Leveling System
  bot/events/messageCreate.js
  globalconfig.json
Due: eslint --fix --ext js, prettier --write

🚀 | Debug Mode Off
  globalconfig.json
Due: prettier --write

🚀 | Updated/Fixed Commands In Same Row
  docs/commands.md
  modules/updateDocs.js
Due: eslint --fix --ext js

🚀 | Fixed Welcome/Leave Settings
  bot/events/guildMemberAdd.js
  bot/events/guildMemberRemove.js
Due: eslint --fix --ext js

🚀 | Removed Space
  modules/updateDocs.js
Due: eslint --fix --ext js

🚀 | Improvements
  .gitbook.yml
  globalconfig.json
  modules/dependencies/distubehandler.js
Due: eslint --fix --ext js, prettier --write

🚀 | Fixed Animal Command
  bot/templates/animalCommand.js
Due: eslint --fix --ext js

⚡ | Debug Off
  globalconfig.json
Due: prettier --write

🚀 | Fixed Duck Command
  bot/commands/Animals/duck.js
  bot/commands/Moderation/clear.js
  bot/templates/animalCommand.js
  globalconfig.json
Due: eslint --fix --ext js, prettier --write

🚀 | Debug Off
  globalconfig.json
Due: prettier --write

🚀 | Fixed Spelling Mistake
  bot/templates/animalCommand.js
Due: eslint --fix --ext js

🚀 | Fixed Icons
  404.html
  index.html
Due: none

🚀 | Improved Website
  assets/css/style.css
  assets/css/style.css.map
  assets/images/music.svg
  assets/scss/sections/_companies.scss
  assets/scss/sections/_navbar.scss
  assets/scss/style.scss
  index.html
Due: none

🚀 | Added Community Server Redirect
  community.html
  index.html
Due: none

🚀 | Moved Ch1ll Copyright to Top of Stylesheet
  assets/css/style.css
  assets/css/style.css.map
  assets/scss/_config.scss
  assets/scss/style.scss
Due: none

🚀 | Animated More
  index.html
Due: none

🚀 | Updated Top Button
  404.html
Due: none

🚀 | Changed "lol" to "Dashboard"
  index.html
Due: none

🚀 | Updated Dependancies
  package-lock.json
  package.json
Due: prettier --write

🚀 | Shop Command!
  bot/commands/Economy/shop.js
  bot/shopdata.json
  bot/structures/client.js
  docs/commands.md
Due: eslint --fix --ext js, prettier --write

🚀 | Added Buy/Use Commands!
  bot/commands/Economy/buy.js
  bot/commands/Economy/use.js
  database/schemas/user.js
  globalconfig.json
Due: eslint --fix --ext js, prettier --write

🚀 | Fixed Saving for Buy Command
  bot/commands/Economy/buy.js
Due: eslint --fix --ext js

🚀 | Better Sentence
  bot/commands/Economy/buy.js
Due: eslint --fix --ext js

🚀 | Updated Commands
  docs/commands.md
Due: none

🚀 | Updated Jquery Security
  404.html
  index.html
Due: none

⚡ | Downgrated Jq
  index.html
Due: none

🚀 | Changed from `node-fetch` to `axios`
  bot/commands/Fun/advice.js
  bot/commands/Fun/uselessfact.js
  bot/commands/Memes/economy.js
  bot/commands/Music/lyrics.js
  bot/commands/Owner/eval.js
  bot/commands/Roblox/gamedetails.js
  bot/commands/Roblox/shout.js
  bot/commands/Roblox/verify.js
  bot/events/messageCreate.js
  bot/templates/animalCommand.js
  bot/templates/redditCommand.js
  package-lock.json
  package.json
Due: eslint --fix --ext js, prettier --write

🚀 | Updated Head - Neater + Better Meta Tags
  index.html
Due: none

🚀 | Updated Engines to Work With Heroku
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --ext js: any of: *.{mjs,js}
  prettier --write: any of: *.{json,yml,yaml}
