Repository Fluff4life/SparkV: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext js, prettier --write

.lintstagedrc.json:

{
    "*.{mjs,js}": "eslint --fix --ext js",
    "*.{json,yml,yaml}": "prettier --write"
  }

🚀 | Fixed Cache & Cooldown Systems
  bot/events/messageCreate.js
  bot/events/ready.js
  bot/structures/client.js
  bot/templates/redditCommand.js
  docs/commands.md
  package-lock.json
  package.json
Due: eslint --fix --ext js, prettier --write

😳 | Removed Console Debug
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🚀 | Disabled Debug
  globalconfig.json
Due: prettier --write

🚀 | Added Prefix Config Command!
  bot/commands/Config/prefix.js
  bot/commands/Information/help.js
  bot/commands/Information/index.js
  bot/commands/Utility/credits.js
  bot/commands/Utility/dashboard.js
  bot/commands/Utility/donate.js
  bot/commands/Utility/help.js
  bot/commands/Utility/invite.js
  bot/commands/Utility/rules.js
  bot/commands/Utility/website.js
  bot/events/messageCreate.js
  bot/templates/configCommand.js
  database/schemas/bots.js
  database/schemas/guild.js
  database/schemas/prefixes.js
  docs/commands.md
  modules/functions.js
Due: eslint --fix --ext js

🚀 | Removed Command Log
  bot/events/messageCreate.js
  bot/structures/client.js
  database/handler.js
  database/schemas/log.js
Due: eslint --fix --ext js

🚀 | New Commands
  bot/commands/Games/fasttype.js
  bot/commands/Games/fight.js
  bot/commands/Games/neverhaveiever.js
  docs/commands.md
  package.json
Due: eslint --fix --ext js, prettier --write

😎 | Changed ChatBot Data to String
  database/schemas/guild.js
Due: eslint --fix --ext js

🚀 | Bug Fixes & WIP Welcome System
  bot/events/guildCreate.js
  bot/events/guildDelete.js
  bot/events/guildMemberAdd.js
  bot/events/messageCreate.js
  database/schemas/guild.js
Due: eslint --fix --ext js

🚀 | Changed Message Timeouts 1 to 5 Seconds
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🚀 | Fixed Leveling
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🐛 | Bug Fixes
  bot/commands/Fun/afk.js
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🔨 | Updated Package-lock
  package-lock.json
Due: prettier --write

🔨 | Updated Dependancies and Fixed URL Bug
  bot/events/messageCreate.js
  package-lock.json
  package.json
Due: eslint --fix --ext js, prettier --write

🎨 | Cleaned Up Code
  assets/offline.html
  assets/scss/style.scss
  bot/commands/Config/prefix.js
  bot/commands/Currency/beg.js
  bot/commands/Currency/deposit.js
  bot/commands/Currency/withdraw.js
  bot/commands/Games/akinator.js
  bot/commands/Games/connectfour.js
  bot/commands/Games/fasttype.js
  bot/commands/Games/fight.js
  bot/commands/Games/neverhaveiever.js
  bot/commands/Games/rockpaperscissors.js
  bot/commands/Games/snake.js
  bot/commands/Games/tictactoe.js
  bot/commands/Games/trivia.js
  bot/commands/Games/wouldyourather.js
  bot/commands/Moderation/nickname.js
  bot/commands/Moderation/slowmode.js
  bot/events/guildCreate.js
  bot/events/guildMemberAdd.js
  bot/events/interactionCreate.js
  bot/events/messageCreate.js
  bot/structures/client.js
  bot/templates/gameCommand.js
  database/handler.js
  database/schemas/guild.js
  globalconfig.json
Due: eslint --fix --ext js, prettier --write

🚀 | Down graded node-fetch to prevent errors
  package-lock.json
  package.json
Due: prettier --write

🚀 | Down graded mongoose to prevent errors
  package.json
Due: prettier --write

🐛 | Debug for Leveling
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🚀 | Fixed Get Member Function
  bot/commands/Currency/balance.js
  bot/commands/Currency/pay.js
  bot/commands/Currency/rob.js
  bot/commands/Fun/rank.js
  bot/commands/Images/affect.js
  bot/commands/Images/bed.js
  bot/commands/Images/facepalm.js
  bot/commands/Images/invert.js
  bot/commands/Images/jail.js
  bot/commands/Images/opinion.js
  bot/commands/Images/rainbow.js
  bot/commands/Images/rip.js
  bot/commands/Images/shit.js
  bot/commands/Images/slap.js
  bot/commands/Images/trash.js
  bot/commands/Images/trigger.js
  bot/commands/Images/wanted.js
  bot/commands/Images/wasted.js
  bot/commands/Images/youtubecomment.js
  bot/commands/Moderation/ban.js
  bot/commands/Owner/setch1llbucks.js
  bot/commands/Owner/setxp.js
Due: eslint --fix --ext js

🚀 | 1 new game command and fixed fight
  bot/commands/Games/fight.js
  bot/commands/Games/lieswatter.js
  docs/commands.md
Due: eslint --fix --ext js

🚀 | Better Stats
  bot/commands/Information/help.js
  bot/events/ready.js
Due: eslint --fix --ext js

🚀 | Fixed Mod Command Handler
  bot/templates/modCommand.js
  docs/commands.md
Due: eslint --fix --ext js

🚀 | Fixed Invite + New Eval System
  bot/commands/Information/invite.js
  bot/commands/Owner/eval.js
Due: eslint --fix --ext js

🚀 | Fixed Eval
  bot/commands/Owner/eval.js
Due: eslint --fix --ext js

Create CNAME
  CNAME
Due: none

🚀 | Fixed Chat Bot
  bot/events/messageCreate.js
  modules/functions.js
Due: eslint --fix --ext js

🚀 | Fixed Leveling, Giveaways Module and Noblox
  bot/events/messageCreate.js
  bot/structures/client.js
  modules/functions.js
Due: eslint --fix --ext js

🚀 | Fixed Giveaways Handler
  modules/dependencies/giveawayshandler.js
Due: eslint --fix --ext js

🚀 | Welcome, Goodbye Settings and Bug Fixes
  assets/images/background.png
  bot/events/guildCreate.js
  bot/events/guildDelete.js
  bot/events/guildMemberRemove.js
  modules/dependencies/giveawayshandler.js
  package-lock.json
  package.json
Due: eslint --fix --ext js, prettier --write

🚀 | Better Data Welcome/Goodbye
  database/schemas/guild.js
Due: eslint --fix --ext js

🚀 | Fixed Currency Saving & Minor Bug Fixes
  bot/commands/Currency/daily.js
  bot/commands/Currency/deposit.js
  bot/commands/Currency/pay.js
  bot/commands/Currency/rob.js
  bot/commands/Currency/slots.js
  bot/commands/Currency/withdraw.js
  bot/commands/Information/dashboard.js
  bot/commands/Information/donate.js
  bot/commands/Moderation/warn.js
  bot/commands/Owner/setch1llbucks.js
  bot/events/interactionCreate.js
  database/schemas/member.js
  database/schemas/user.js
  modules/dependencies/giveawayshandler.js
Due: eslint --fix --ext js

🚀 | Fixed Chat Bot
  bot/events/messageCreate.js
Due: eslint --fix --ext js

🚀 | Bug Fixes
  bot/commands/Currency/rob.js
  bot/commands/Fun/ascii.js
  bot/commands/Fun/rank.js
  bot/commands/Images/affect.js
  bot/commands/Images/bed.js
  bot/commands/Images/changemymind.js
  bot/commands/Images/facepalm.js
  bot/commands/Images/invert.js
  bot/commands/Images/jail.js
  bot/commands/Images/ohno.js
  bot/commands/Images/opinion.js
  bot/commands/Images/rainbow.js
  bot/commands/Images/rip.js
  bot/commands/Images/shit.js
  bot/commands/Images/slap.js
  bot/commands/Images/trash.js
  bot/commands/Images/trigger.js
  bot/commands/Images/wanted.js
  bot/commands/Images/wasted.js
  bot/commands/Images/youtubecomment.js
  bot/commands/Owner/setxp.js
  bot/commands/Roblox/verify.js
  bot/commands/Roblox/whois.js
  bot/events/messageCreate.js
  bot/templates/modCommand.js
Due: eslint --fix --ext js

🚀 | Fixed Invite URL
  globalconfig.json
Due: prettier --write

🚀 | Fixed Dashboard Link
  bot/commands/Information/dashboard.js
Due: eslint --fix --ext js

🐛 | Mega Bug Fixes
  bot/commands/Currency/balance.js
  bot/commands/Fun/ascii.js
  bot/commands/Fun/economy.js
  bot/commands/Fun/levelleaderboard.js
  bot/commands/Fun/urban.js
  bot/commands/Fun/uselessfact.js
  bot/commands/Fun/weather.js
  bot/commands/Games/connectfour.js
  bot/commands/Images/affect.js
  bot/commands/Images/bed.js
  bot/commands/Images/changemymind.js
  bot/commands/Images/color.js
  bot/commands/Images/facepalm.js
  bot/commands/Images/invert.js
  bot/commands/Images/jail.js
  bot/commands/Images/ohno.js
  bot/commands/Images/opinion.js
  bot/commands/Images/rainbow.js
  bot/commands/Images/rip.js
  bot/commands/Images/shit.js
  bot/commands/Images/slap.js
  bot/commands/Images/trash.js
  bot/commands/Images/trigger.js
  bot/commands/Images/wanted.js
  bot/commands/Images/wasted.js
  bot/commands/Images/youtubecomment.js
  bot/commands/Information/credits.js
  bot/commands/Information/help.js
  bot/commands/Moderation/ban.js
  bot/commands/Moderation/kick.js
  bot/commands/Moderation/mute.js
  bot/commands/Moderation/nickname.js
  bot/commands/Moderation/unmute.js
  bot/commands/Music/lyrics.js
  bot/commands/Roblox/verify.js
Due: eslint --fix --ext js

🚀 | Formatted Better
  bot/commands/Images/bed.js
  bot/commands/Images/changemymind.js
  bot/commands/Images/facepalm.js
  bot/commands/Images/invert.js
  bot/commands/Images/jail.js
  bot/commands/Images/ohno.js
  bot/commands/Images/rainbow.js
  bot/commands/Images/rip.js
  bot/commands/Images/shit.js
  bot/commands/Images/slap.js
  bot/commands/Images/wasted.js
  bot/commands/Moderation/kick.js
  bot/commands/Moderation/nickname.js
Due: eslint --fix --ext js

🚀 | Added 2 Important Intents
  bot/bot.js
Due: eslint --fix --ext js

🚀 | Reverse-engineered Swear Package
  bot/cursewords.json
  bot/events/messageCreate.js
  package-lock.json
  package.json
Due: eslint --fix --ext js, prettier --write
